/* HTML Elements */
*{
    margin: 0;
    padding: 0;
}
html{
    color: whitesmoke;
    font-family: 'Noto Sans Linear A', sans-serif;
    font-size: medium;
    text-align: center;
    /* scroll-behavior: smooth; */
}
body{
    /* background-color: rgb(31,86,93); */
    /* background-image: linear-gradient(rgb(174, 248, 213), rgb(122,193,160)); */
    background-color: black;
}
header{
   
    background-color: black;
    height: 7vh;
    opacity:70%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 2px solid #e7e7e7;
}
/* button{
    color: #e7e7e7;
    height: 6vh;
    width: 10vw;
    margin-top: 2vh; */
    /* margin-left: 5vw; */
    /* background-color: transparent;
    border-style: x; */
/*button:hover{
    color: blue;
    font-weight: 15px;
    transition: font-weight 0.3s;
} */



/* Classes */
.button-header{
    color: #e7e7e7;
    height: 6vh;
    width: 10vw;
    margin-top: 2vh; 
    text-decoration: none;
}
.button-header:hover{
    color: rgb(138, 105, 228);
    font-weight: 15px;
    transition: font-weight 0.3s;
}
.textbox{
    /* background-color: rgb(130, 195, 182); */
    /* border: 5px solid rgb(186, 241, 254); */
    font-size: large;
    font-weight: bold;
    color: rgb(245, 177, 177);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 30vh;
    width: 45%;
    /* position: absolute; */
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    opacity: 0;
    transition: opacity 1s, color 1s;
}
.textbox:hover{
    color: whitesmoke;
}
.fade{
    opacity: 1;
}



/* ID */
#logo{
    position: absolute;
    /* top: 42%; */
    left: 2%;
    max-height: 42px;
}

#logo:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#title-text{
    z-index: 20;
    position: absolute;
    top:9px;
    left: 20%;
    font-size: 20px;
    font-weight: bolder;
    color: #e7e7e7;
}
#navbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 60%;
}
#wordcloud{
    max-height: 100%;
}
#wordcloud:hover{
    cursor: pointer;
}
#wordcloud-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#google-trends-container{
    overflow: visible;
   
}
iframe#trends-widget-1 {
    width: 30%;
    height: 320px;
    border-radius: 5%;
    object-fit: cover;
}
#text-area{
    height: 200vh;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30vh;
}
#vid-area{
    height: 100vh;
}
#vid1{
    position: relative;
    margin: auto;
    max-height: 95%;
    max-width: 75%;
    /* max-width: 960px;
    min-width: 480px; */
    z-index: 6;
}
#self-help, #other-help {
    background-color: rgb(68, 140, 150);
    border: 2px solid rgb(77, 103, 122);
    position: absolute;
    margin: 0;
    height: 60%;
    width: 12%;
    top: 30%;
    transition: background-color 1s;
    font-size: 18px;
    word-wrap: break-word;
}
#self-help:hover, #other-help:hover {
    background-color: rgb(134, 187, 189);
}
#self-help {
    left: 0%;
}
#other-help {
    right: 0%;
}







/* For production page */
.image_carousel{
	text-align: center;
	max-height: 420px;
	position: relative;
    margin-top: 2%;
    margin-bottom: 10%;
}
.image_carousel img{
	position: relative;
	max-height: 50%;
	max-width: 50%;
    border: 3px solid rgb(132, 232, 255);
}
.nav_arrow{
	font-size: large;
	font-weight: bold;
	color: white;
	padding: 12px;
	transition: 0.4s ease;
	position: absolute;
	z-index: 1;
}
#previous{
	top: 45%;
	float: left;
}
#next{
	top: 45%;
	float: right;
	right: 25%;
}
#previous:hover, #next:hover{
	background-color: rgb(0, 69, 126);
}